@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: Nunito, ui-sans-serif, system-ui;
}

ul.error-list li {
    list-style: disc;
    margin-left: 20px;
}

div.alert {
    position: relative;
    top: 60px;
    /*padding: 20px;*/
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    background: rgb(12, 68, 0);
    color: #fff;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: .25rem;
}

.btn-primary:hover {
    background: rgb(29, 78, 216);
}

.col2 {
    column-count: 2
}

.labelspan {
    color: rgb(29 78 216);
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-transform: uppercase;
    background: rgb(191 219 254);
    border-radius: 9999px;
    display: inline-flex;
    padding: .25rem .75rem;
    align-items: center;
}

.plus-button {
    padding: 2px 6px;
    text-align: center;
    margin: 4px 2px;
    border-radius: .25rem;
    background: rgb(12, 68, 0);
    color: #fff;
}
